.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.popup__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90vw;
    max-width: 700px;
    max-height: 90vh;
    background-color: white;
    padding: 1rem;
}

.close-popup-button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;
    @extend .f-bold;
    border: 2px solid $color-theme;
    padding: .25em .5rem;
}

.form__adnotations {
    display: flex;
    flex-direction: column;

    & > input {
        height: 36px;
        padding-left: 5px;
        font-size: 1rem;
        border: 1px solid black;
    }
}

.form__sizes {

    & > p {
        @extend .f-main;
    }

    & > label {
    }

    & > input {
        margin-right: 12px;
    }

}

.form__adnotations, .form__sizes {
    margin-bottom: 10px;
}

.form__label {
    @extend .f-main;
}

.form__submit-button {
    display: block;
    margin: 0 0 0 auto;
    border: 1px solid $color-theme;
    background-color: transparent;
    padding: .25rem .5rem;
}

