/**
 * Variables
*/

/* Typography */
/* Breakpoints */
$tablet: 767px;
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$color-theme-font: #fff;
$color-theme: #369DEE;

$color-body-background: #eee;
$color-main-font: #555;

/* Components */
