/* Core variables */
@import 'base/vars';

/* Fonts */
@import 'base/fonts';

/* CSS Reset */
@import 'base/reset';

/* Components */
@import 'components/popup.scss';
@import 'components/list.scss';
@import 'components/player.scss';
@import 'components/video_controls.scss';
@import 'components/details.scss';
@import 'components/dragged_controls.scss';


html, body {
  font-size: 18px;
  color: $color-main-font;
  background-color: $color-body-background;
}

.hidden-below-900 {
  display: none;

  @media(min-width: 900px) {
    display: block;

    &--span {
      display: inline-block;
    }
  }
}

button {
  cursor: pointer;
}

.header {
  margin: 1rem auto;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: 900px) {
    padding: .5rem calc((100vw - 900px - .5rem) / 2);
    margin-bottom: 1rem;
  }
}

.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
}

.main {
  max-width: 90vw;
  width: 900px;
  margin: 0 auto;
}

.heading {
  @extend .f-main;

  &--main {
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
  }

  @media(min-width: $tablet) {
     &--main {
       font-size: 2rem;
     }
  }
}

.section {
  &--player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

